
html {
	background:#555;
	color:white;
}

body {
	font-family: arial,sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
	margin: 0;
}

.header {
    height: 35px;
	padding-right: 30;
	padding: 10 10 10 10;
}

.header {
	background-color:#222;
}

/* header and footer blocks links */

.paint_options_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paint_options_list li {
    float: left;
}


.top_button {
	cursor:default; /* dont change cursor when interacting */
	color:#ddd;
	background-color:#222;
    display: inline-block;
    padding: 6px;
	margin-right:10;
	text-decoration: none;
	
}

.top_button:hover {
	text-decoration: underline;
}

.highlighted {
	box-shadow: 0px 0px 10px 3px rgba(255,255,0,1);
	
}


/*********************************/


.center_elements {
	flex: 1;
	margin:auto;
	display:block; 
	clear: both;
	width:35%;
	text-align:center; /* needed even for IMG to be perfectly aligned. ikr? */

}

#logo{
	padding-top:20px;
	width:90%;
}

#search_box {
	content: "";
	width: 100%;
	padding: 10 10 10 10;
	margin-top:20px;
	
	box-shadow: 0px 0px 10px 3px rgba(255,255,0,1);
}


td, tr {
	padding: 0 0 0 0;
}

.square {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-color: green;
	/* border: solid #6AC5AC 1px; */
}


















